
{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}
{% block linktitle %}{{article.title|striptags}}{% endblock linktitle %}

{% block title %}{{ article.title|striptags  }} ∙ {{ SITENAME }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}
{% block blog_title_url %}"{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}"{% endblock blog_title_url %}
{% block blogtitle %}{{ article.title }}{% endblock blogtitle %}


{% block contenttype %}"content content-no-bottom-border"{% endblock contenttype %}

{% block content %}
<section id="article" class="body">
  <div class="entry-content">
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}

{% block linkbar %}

{% endblock linkbar %}
