@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;700");

/* it's probably better if you don't look (´・ω・｀) */

body {
    font-family: "Source Serif Pro";
    line-height: 1.0;
    background-color: black;
    color: #EEEEEE; /* pepsi red */
    text-align: center;
    font-size: 100%;
}

h1 {
    /* padding-top: 10px; */
    line-height: 0;
    font-size: 36pt;
}

h1 > a {
    color: #EEEEEE;
}

h1 > a:hover {
    color: #AAAAAA;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.linkbar {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-color: #111111;
}

.linkbar-top {
    padding-top: 0px;
}

.linkbar > a {
    margin: 0px 10px;
}

.linkbar-top > a {
    font-size: 28px;
}

.linkbar-bottom > a {
    color: #004B93;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 600px;
    margin: auto;
    /* padding-bottom: 10px; */
}

.content {
    min-height: 400px;
    font-size: 17px;
    border-style: double none double none ;
    border-width: 3px;
}

.subtitle {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 17;
    color: #444444;
} 


.music-entry {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-style: none none dotted none;
    border-width: 1px;
    border-color: #222222;
}

.music-entry > .linkbar > a {
    color: #C9002B;
}

.music-entry > .linkbar {
    font-size: 48px;
    padding: 0px;
}

.music-entry > h1 {
    text-transform: uppercase;
    font-size: 30px;
    padding: 0px;
}


.poem {
    text-transform: uppercase;
    /* font-variant: small-caps; */
    text-align: justify;
    color: #AAAAAA;
    text-justify: inter-character;
    text-align-last: justify;
    font-family: "IBM Plex Mono";
}

a {
    color: #C9002B;
    text-decoration: wavy;
    font-weight: bolder;
}

a:hover {
    color: #EEEEEE;
}

p {
    margin: 10px 0px;
}