<!DOCTYPE html>
<html>
<!-- 🦔 -->
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css' href="{{ HTML_SITEURL }}/theme/css/{% block style %}mainstyle{% endblock style %}.css">
    <link rel='stylesheet' type='text/css' href="{{ HTML_SITEURL }}/theme/css/codestyles.css">

    {% block head_extra %}{% endblock %}


    <meta name="keywords" content="gamedev, music, electronic">
    <meta name="description" content="{% block description %}{% if article %}{{ article.summary|striptags }}{% elif page %}{{ page.summary|striptags }}{% else %}ivy sly webzone{% endif %}{% endblock description %}">


    <meta name="author" content="Ivy Sly">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">

    <meta name="language" content="English">
    <meta name="title" content="ivysly.com - {% block linktitle %}Ivy Sly{% endblock linktitle %}">

    <meta property="og:title" content="ivysly.com - {{ self.linktitle() }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{% block card_image %}{{ SITEURL }}/theme/images/card.png{% endblock card_image %}">
    <meta property="og:description" content="{{ self.description() }}">
    
    <meta name="twitter:site" content="@ivy_sly_">
    <meta name="twitter:creator" content="@ivy_sly_">
    <meta name="twitter:title" content="ivysly.com - {{ self.linktitle() }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="{{ self.description() }}">
    <meta name="twitter:image" content="{{ self.card_image() }}">
  


    <link rel=apple-touch-icon sizes=180x180 href={{ HTML_SITEURL }}/theme/images/apple-touch-icon.png>
    <link rel=icon type=image/png sizes=16x16 href={{ HTML_SITEURL }}/theme/images/favicon-16x16.png>
    <link rel=icon type=image/png sizes=32x32 href={{ HTML_SITEURL }}/theme/images/favicon-32x32.png>
    <link rel=icon type=image/png sizes=192x192 href={{ HTML_SITEURL }}/theme/images/android-chrome-192x192.png>
    <link rel=icon type=image/png sizes=512x512 href={{ HTML_SITEURL }}/theme/images/android-chrome-512x512.png>

    <link rel="alternate" type="application/rss+xml" title="allfeeds" href="https://ivysly.com/feeds/all.rss.xml">
    <link rel="alternate" type="application/rss+xml" title="blog" href="https://ivysly.com/feeds/blog.rss.xml">
    <link rel="alternate" type="application/rss+xml" title="dream" href="https://ivysly.com/feeds/dream.rss.xml">
    <link rel="alternate" type="application/rss+xml" title="games" href="https://ivysly.com/feeds/games.rss.xml">
    <link rel="alternate" type="application/rss+xml" title="hustle" href="https://ivysly.com/feeds/hustle.rss.xml">
    <link rel="alternate" type="application/rss+xml" title="misc" href="https://ivysly.com/feeds/misc.rss.xml">
    <link rel="alternate" type="application/rss+xml" title="reviews" href="https://ivysly.com/feeds/reviews.rss.xml">
    
    <meta name="referrer" content="no-referrer-when-downgrade">

    <title>ivysly.com - {% block title %}{{ SITENAME }}{% endblock title %}</title>
    {% endblock head %}


{% block style_block %}
{% endblock style_block %}
  </head>


<body>
  {% block content_container %}
  {% block content %}{% endblock %}
  {% endblock content_container %}
</body>


    <script src="{{ HTML_SITEURL }}/theme/js/relativetime.js"></script>
</html>