{% extends "base.html" %}

{% block style %}default{% endblock style %}

{% block style_block %}
<style>
  html {
    background-image: url({{ HTML_SITEURL }}/theme/images/background/{% block bg %}none{% endblock %}.png);
  }
</style>
{% endblock style_block %}

{% block content_container %}
<div class="header-container">

  <a href={{ SITEHOME }}><img src="{{ HTML_SITEURL }}/theme/images/home/header.png" class="header-image"
    onmouseover="this.src='{{ HTML_SITEURL }}/theme/images/home/header2.png'"
    onmouseout="this.src='{{ HTML_SITEURL }}/theme/images/home/header.png'" ></a>

</div>

<div class="page"> 

{% block content_box %}
<div class="box">
  <div class="nav-links top">
    {% for link in NAVIGATION_LINKS %}
      <span class="nav-link"><a href="{{HTML_SITEURL}}/{{ link[1] }}">{{ link[0]}}</a></span>
    {% endfor %}
  </div>

  <div class="content">
    {% block content %}
      <h1 class="header">{% block header %}title{% endblock header %}</h1>
      <div class="article-body">
      {% block article_body %}body{% endblock article_body %}
      </div>
      <div class="footer">{% block footer %}{% endblock footer %}</div>
    {% endblock content %}
  </div>

</div>
{% endblock content_box %}

</div>
{% endblock content_container %}