{% extends "base.html" %}
{% block style %}dreamlog{% endblock style %}
{% block title %}dreamlog{% endblock title %}
{% block linktitle %}dreamlog{% endblock linktitle %}

{% block description %}
dreamlog entries may touch on sensitive or explicit topics not suitable for all ages. real names censored for privacy.
{% endblock description %}
{% block content %}


<div class="dreamlog-header">
  <a href="{{ SITEHOME }}">

    <img src="{{ HTML_SITEURL }}/theme/images/dreamlog/header.png" alt="DREAMLOG" class="dreamlog-image">
  </a>
</div>
<div class="links">


<div class="nav-links top"> 
  {% for link in NAVIGATION_LINKS %}
    <span class="nav-link"><a href="{{ HTML_SITEURL }}/{{ link[1] }}">{{ link[0]}}</a></span>
  {% endfor %}
</div>


</div>
{% block header %}
{% endblock header %}
<p class="disclaimer">dreamlog entries may touch on sensitive or explicit topics not suitable for all ages.<br>real names censored for privacy.</p>
<p class="disclaimer">{% block dreamlog_entry_count %}number of entries: {{ articles|length }}{% endblock dreamlog_entry_count %}{% block tagcount %} <br>number of <a href="{{ HTML_SITEURL }}/dream/tags.html">tags</a>: {{ tags|length }} {% endblock tagcount %}</p>

<div class="content">
  <div class="dream-table">
    {% block dreamlog_body %}
  {% for article in articles %}
    <span class="dream-date"><a href="{{ HTML_SITEURL }}/{{ article.url }}">{{ article.date.strftime('%d %b %Y') }}</a></span>
    <span class="dream-title">{{ article.title }}</span>
    <span class="dream-tags">
          {% for tag in article.tags %}
            <span class="dream-tag"><a href="{{ HTML_SITEURL }}/dream/tag/{{ tag }}.html">{{ tag }}</a></span>
          {% endfor %}
    </span>

  {% endfor %}

  
  {% endblock dreamlog_body %}
  <hr>
  <br><br><br>
  <span style = "padding-right: 200px;">*</span>
  <br><br><br><br><br>
  
  
  <span style = "padding-right: 100px;">.</span>
  <br><br><br>
  <img src="{{ HTML_SITEURL }}/theme/images/sleeper.png" class="sleeper">
</div>

<div class="links">
  {% block links %}
  
  <a href="{{ SITEHOME }}">wake up</a>

  {% endblock links %}
</div>


</div>

{% endblock %}