{% extends "default.html" %}

{% block head %}
{{ super() }}
<link rel='stylesheet' type='text/css' href="{{ HTML_SITEURL }}/theme/css/misc.css">
<link rel='stylesheet' type='text/css' href="{{ HTML_SITEURL }}/theme/css/affiliates.css">
{% endblock head %}

{% block linktitle %}friends and affiliates{% endblock linktitle %}
{% block title %}friends and affiliates{% endblock title %}

{% block bg %}misc{% endblock bg %}

{% block description %}a non comprehensive list of people on the internet{% endblock description %}

{% block header %}friends and affiliates{% endblock header %}


{% macro affiliate_box(title) %}
<div class="affiliates-box"> 
  <div class="affiliates-box-title">
    {{ title }}
  </div>
  <div class="affiliates-box-content">
    {{ caller() }}
  </div>
</div>

{% endmacro %}

{% block article_body %}
<div class="affiliates-container"> 
 {% call affiliate_box("sewer") %}
 <p>a secretive indie gamedev cabal infamous for hoarding the source of their mystical dev magic, an <strong>ancient hex-imbued cabochon called gilnuprath</strong>, and a gamer supergroup i am personally responsible for goading into <strong>several gamejams</strong>. please check out some of their websites or they will not accrue enough ad money to pay rent:</p>
 <div class="friend-links">    
    <p class="friend-link"><a href="https://slugsoft.dev/">slugsoft</a></p>
    <p class="friend-link"><a href="https://wabbaboy.dev/">wabbaboy</a></p>
    <p class="friend-link"><a href="https://goetworks.neocities.org">goetworks</a></p>
    <p class="friend-link"><a href="https://weaverdev.io/">weaver</a></p>
    <p class="friend-link"><a href="https://j4nw.com/">j4nw</a></p>
    <p class="friend-link"><a href="https://heinn.dev/">heinn</a></p>
    <p class="friend-link"><a href="https://www.nishball.com/">grug</a></p>
 </div>
 {% endcall %}
 {% call affiliate_box("dev zone") %}

 <p>an overworld-based gamedev militia unit located in the <strong>unincorporated greater gamedev steppe</strong>, of which some high-ranking officers are listed:</p>
 
 <div class="friend-links">
    <p class="friend-link"><a href="https://sirmilkman.com">sirmilkman</a></p>
    <p class="friend-link"><a href="https://sarn.gay/">sarn</a></p>
    <p class="friend-link"><a href="https://brawlersworld.com/">brawlers world</a></p>

    <p class="friend-link"><a href="https://sneil.neocities.org/">sneil</a></p>
    <p class="friend-link"><a href="https://feverdreamsoft.works">feverdream johnny</a></p>
    <p class="friend-link"><a href="https://realweblegends.com/">goba</a></p>
    <p class="friend-link"><a href="https://www.brycebucher.net/">bryce bucher</a></p>

    <p class="friend-link"><a href="https://melodicambient.neocities.org/about.html">melos han-tani</a></p>
    <p class="friend-link"><a href="https://breadskate.how">lazrick</a></p>
    <p class="friend-link"><a href="https://drurylain.com/">drurylain</a></p>
    <p class="friend-link"><a href="https://duckonaut.dev/">echoduck</a></p>
    <p class="friend-link"><a href="https://fadingclub.neocities.org/">karbonic</a></p>
  </div>
 {% endcall %}
 <!-- {% call affiliate_box("etc") %}

 <p>unafilliated nomad wizards who claim no territory, nonetheless whose magics i endorse:</p>
 

 <div class="friend-links">
  </div>
 {% endcall %} -->
</div>

{% endblock article_body %}