{% extends "base.html" %}
{% block style %}home{% endblock %}

{% block title %}home{% endblock title %}
{% block linktitle %}home{% endblock linktitle %}

{% set buttons = [
  {'name': 'videogames', 'href': '/games', 'pos': 'right: 260px; top: -40px;', 'coords': '210,150,688,500'},
  {'name': 'music', 'href': '/music', 'pos': 'left: 80px; top: 240px;', 'coords': '0,0,180,155'},
  {'name': 'webwords', 'href': '/blog', 'pos': 'left: 160px; top: 380px;', 'coords': '0,0,300,300'},
  {'name': 'dreamlog', 'href': '/dream', 'pos': 'left: 440px; top: 460px;', 'coords': '0,0,250,250'},
  {'name': 'about', 'href': '/about', 'pos': 'left: 770px; top: 40px;', 'coords': '27,40,162,208'},
  {'name': 'misc', 'href': '/misc', 'pos': 'left: 720px; top: 310px;', 'coords': '0,0,250,250'},
] %}

{% block content %}
<div class="header-container">
  <a href="{{ SITEHOME }}">
    <img src="{{ HTML_SITEURL }}/theme/images/home/header.png" class="header-image"
      data-hover="{{ HTML_SITEURL }}/theme/images/home/header2.png"
      data-normal="{{ HTML_SITEURL }}/theme/images/home/header.png">
  </a>
</div>

<div id="collage-wrapper">
  <div id="collage">
    {% for btn in buttons %}
    <img src="{{ HTML_SITEURL }}/theme/images/home/{{ btn.name }}1.png"
      id="{{ btn.name }}Btn"
      usemap="#{{ btn.name }}Map"
      style="position: absolute; {{ btn.pos }}"
      data-hover="{{ HTML_SITEURL }}/theme/images/home/{{ btn.name }}2.png"
      data-normal="{{ HTML_SITEURL }}/theme/images/home/{{ btn.name }}1.png">
    {% endfor %}
  </div>
</div>

{% for btn in buttons %}
<map name="{{ btn.name }}Map">
  <area shape="rect" coords="{{ btn.coords }}" href="{{ HTML_SITEURL }}{{ btn.href }}"
    data-target="{{ btn.name }}Btn">
</map>
{% endfor %}

<script>
  // Handle hover for header
  document.querySelectorAll('.header-image').forEach(img => {
    img.addEventListener('mouseover', () => img.src = img.dataset.hover);
    img.addEventListener('mouseout', () => img.src = img.dataset.normal);
  });

  // Handle hover for image map areas
  document.querySelectorAll('area[data-target]').forEach(area => {
    const img = document.getElementById(area.dataset.target);
    area.addEventListener('mouseover', () => img.src = img.dataset.hover);
    area.addEventListener('mouseout', () => img.src = img.dataset.normal);
  });

  // Dynamically scale the collage to fit within the window width
  function scaleCollage() {
    const collage = document.getElementById('collage');
    const wrapper = document.getElementById('collage-wrapper');
    const scale = Math.min(1, wrapper.clientWidth / collage.offsetWidth);
    collage.style.transform = `translateX(-50%) scale(${scale})`;
  }

  window.addEventListener('load', scaleCollage);
  window.addEventListener('resize', scaleCollage);

  // Preload hover images
  document.querySelectorAll('[data-hover]').forEach(img => {
    new Image().src = img.dataset.hover;
  });
</script>

{% endblock %}