/* i forgot how css works here we go again */
@font-face {
  font-family: 'MS Gothic';
  src: url('../font/MS Gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'MS PGothic';
  src: url('../font/MS PGothic.ttf') format('truetype');
}

@font-face {
  font-family: 'MingLiU-ExtB';
  src: url('../font/mingliu.ttf') format('truetype');
}

:root {
  --link-color: #9cb4f0;
    --link-color-hover: #fff;
}

html, body {
    font-family: 'MS Gothic', sans-serif;
    /* height: 100%; */
    /* min-height: 100%; */
    margin: 10px;
    font-size: 18px;
    text-align: center;
    /* background-color: #000; */
    background-color: #000;


    /* background: linear-gradient(to bottom, #111122 0%, hsl(246, 33%, 8%) 100%); */
    /* background-image: url('../images/dreambg.png'); */
    color: white;
}


h1 {
    font-family: 'MS Gothic', sans-serif;
    /* text-align: center; */

    color: black;
    margin: 0 auto;
    font-size: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
}

h1 a {
    text-decoration: none;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-color-hover);

}

.dream-container {
  /* padding: 10px 0px; */
  /* border: 2px solid #404040;  */
  /* width: 470px; */
  margin: 0 auto;

}

div.header-container {
  position: relative;
  width: 300px;
  margin: 0 auto;

  font-size: 48px;
}

.header-link-left {
  position: absolute;
  left: -12px; 
  top: 23px;
  text-decoration: none;


}

.header-link-right {
  position: absolute;
  right: -12px;
  top: 23px;
  text-decoration: none;

}

div.dream-content {
  font-family: 'MS Gothic', sans-serif;
  max-width: 460px;
  font-size: 19px;
  /* min-height: 400px; */
  font-weight: 100;
  text-align: justify;
  
  margin: 0 auto; /* This centers the div horizontally */
  margin-top: 0px;
  margin-bottom: 0px;
  /* align the text to the bottom */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  background-color: #000;

}

div.bottom-links {
  font-family: 'MS Gothic', sans-serif;
  padding-bottom: 30px;
}

.dream-entry {
  /* min-height: 55px; */
  /* font-size: 20px; */
}

.dream-table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  /* overflow-x: auto; */
  font-size: 20px;
  padding-bottom: 12px;

}

.dream-row {
  display: grid;
  grid-template-columns: 150px 450px 100%;

  /* padding: 12px 20px; */
  /* transition: background-color 0.2s; */
  /* border-bottom: 1px solid rgba(0,128,255,0.1); */
}

.dream-date {
  font-family: 'MS PGothic', sans-serif;
  font-weight: 900;
  color: #888;
  opacity: 0.8;
  text-align: right;
  padding-right: 12px;

}

.header-title {

}

.dream-title a {
  text-decoration: none;
  display: block;  /* Makes the link fill its container */
  width: 100%;
  height: 100%;
}

.dream-title a:hover {
  background: linear-gradient(to bottom, 
    rgba(0,0,0,0) 0%,
    rgba(0,128,255,0.1) 100%
  );
}

.dream-tags {
  /* border: 1px solid rgba(0,128,255,0.1); */
  font-family: 'MS Gothic', sans-serif;
  /* white-space: nowrap; */
  /* text-align: left; */
  margin: 0 auto;
  font-size: 14px;
  /* max-width: 200px; */
  /* text-align: left; */

  padding-bottom: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.dream-tag {
  /* color: white; */

  color: rgba(255, 255, 255, 0.433);
  text-decoration: none;

  display: inline-block;
  /* font-size: 12px; */
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 0px;
  /* background: rgba(0,128,255,0.1); */
  /* color: rgba(0,128,255,0.5); */
}

.dream-tag a {
  text-decoration: none;

  color: white;
}

.dream-tag:hover {
  background: rgba(0, 80, 255, 0.2);
}

.disclaimer {
  font-size: 14px;
  /* color: rgba(255, 255, 255, 0.5); */
}