:root {
  --link-color: #d02547;
  --link-hover-color: white;
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.game-image {
  aspect-ratio: 3 / 4;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
}

.game-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.game-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.game-image-overlay:hover {
  box-sizing: border-box;
  border: 6px solid var(--link-color);
}

.game-box {
  padding: 4px;
  text-overflow: clip;
}
