:root {
  --link-color: #d02547;
  --link-hover-color: #f00;
}

@font-face {
  font-family: 'MingLiU-ExtB';
  src: url('../font/mingliu.ttf') format('truetype');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 18px;
}

.page {
  height: 100%;
  padding-bottom: 100px;
}

h1 {
  margin-top: 0px;
  /* padding-left: 10px;
  padding-bottom: 2px;
  color: white;
  background: black; */
}

a {
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
}

.header-container {
  text-align: center;
  /* padding-top: 40px; */
}

.header-image {
  max-width: 100%;
  height: auto;
  margin-bottom: -30px;
}

.box {
  padding: 0px 20px 20px 20px;
  border: 6px solid black;
  outline: 6px solid white;
  background-color: white;
  width: auto;
  max-width: 800px;
  margin: 20px auto;
}

.content {
  display: flex;
  flex-direction: column;
  /* min-height: 450px; */
  padding-top: 20px;
  /* height: 100vh; */
}

.header {
  flex: 0 0 auto; /* Header does not grow */
  margin-bottom: 10px;
}

.article-body {
  flex: 1 1 auto; /* Article body grows to fill remaining space */
}

.footer {
  flex: 0 0 auto; /* Footer does not grow */
}

.highlight {
  overflow-x: auto;
}

.about-links {
  /* min-height: 200px; */
}

.about-image {
  width: 200px;
  /* border: 2px solid black; */
  float: right;
  border: 1px solid black;


}

.back-link {
  text-align: center;

  padding: 0px 20px;
  width: 100%;
  font-size: 24px;
}

.nav-links {
  text-align: center;
  padding: 0px 5px;
  /* width: 100%; */
  font-size: 32px;
  padding: 10px 0px;

  /* outline: 6px solid white; */
  background-color: white;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'MingLiU-ExtB', sans-serif;

}

.nav-links.top {
  border-bottom: 1px solid black;
}

.line {
  border-bottom: 1px solid black;
}

.nav-links.bottom {
  /* border-top: 6px solid black; */
}

.nav-link {
  display: inline-block;
  padding: 0px 10px;

}

.nav-link a {
  text-decoration: none;
}

.page a:hover {
  background-color: #eac7ce;

}


.back-link a {
  /* background-color: white; */

  /* border: 1px solid black; */
}

.youtube-4x3 {
	padding-bottom: 75%;  /* inverse of 4:3 aspect ratio */
}
.youtube-16x9 {
	padding-bottom: 56.25%;  /* inverse of 16:9 aspect ratio */
}
.youtube-4x3,
.youtube-16x9 {
	position: relative;
	height: 0;
	overflow: hidden;
  margin-bottom: 20px;
}
.youtube-4x3 iframe,
.youtube-16x9 iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
}