:root {
    /* --background-color: #e8dca7; */
    --background-color: #fff;
}

html, body {
      background-color: var(--background-color); 
      margin: 0;
      padding: 0;
      height: 100%;
    }

    /* Wrapper that fills the screen */
    #collage-wrapper {
      position: relative;
      width: 100%;
      /* height: 100vh;       full viewport height */
      overflow: visible;     
      /* background: #f2f2f2;  */
    }

    /* Collage container with a “virtual” fixed width, centered */
    #collage {
      position: absolute;
      left: 50%;
      top: 0;
      /* The transform below will be updated by JavaScript to scale() as needed */
      transform: translateX(-50%) scale(1);
      transform-origin: top center;
      width: 1000px;       /* Fixed "design" width of the collage */
      /* height: 300px;       Example fixed height (or auto, if you want dynamic) */
      /* background: #fff;    White background for the collage */
      /* border: 1px solid #ccc; */
    }

    /* Each “item” in the collage is absolutely positioned relative to #collage */
    .collage-item {
      position: absolute;
      /* background: lightblue; default color just for illustration */
    }
.header-container {
  text-align: center; /* centers the header image */
  /* padding-top: 40px; */
}

.header-image {
  max-width: 100%;
  height: auto;
}
